
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.box1,.box2, .box3 {
    text-align: start;
    background-color: #a9a9a9;
    margin: 5% 5% 5% 5%;
    padding: 1%;
    box-shadow: 2px 2px 4px 4px #000000;
    border-radius: 15px;
}

h2 {
padding-bottom: 3%;
}

.box1 h2, .box2 h2, .box3 h2{
    text-align: center;
}

header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
}

